
.audio-icon {
    padding: 5px  7px 0 0 ;
    font-size: 22px;
}
.audio-icon-red {
    padding: 6px  7px 0 0 ;
    font-size: 22px;
    color: red;
}
.audio_control_eventbox {
    all: unset;
    // background: red;
}
