
.capture_button {
    margin: 0 0 0 10px;
    background: transparent;
    border: 0;
}
.capture_icon {
    font-size: 16px;
}
.capture_icon_withmargin {
    margin: 0  18px 0  0;
    font-size: 16px;
}


.stop-label {
    color: red;
    border: 1px white solid;
    margin: 7px 0;
    padding: 0 5px;
    border-radius: 6px;
}