// // https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use 'colors.scss';
@use './widget/workspace/style.scss' as workspaceStyle;
@use './widget/clock/style.scss' as clockStyle;
@use './widget/calendar/style.scss' as calendarStyle;
@use './widget/cpu/style.scss' as cpuStyle;
@use './widget/memory/style.scss' as memoryStyle;
@use './widget/power_and_battery/style.scss' as powerAndBatteryStyle;
@use './widget/sound_and_brightness/style.scss' as soundAndBrightnessStyle;
@use './widget/power_and_systray/style.scss' as powerAndSystrayStyle;


window.Bar {
    background: none;
    background: transparent;
    padding: 0px;
    margin: 0px;
    font-size: 16px;

    >centerbox {
        background: transparent;
        border-radius: 10px;
        margin: 3px;
    }

    // Common components-
    button {
        background: none;
        border: none;
        color: colors.$secondary-color;
        border-radius: 8px;
        // margin: 2px;
    }

    //
    // ____________ Home widget stuff here-
    //
    .home-button {
        background: colors.$primary-color;
        color: colors.$secondary-color;
        border-radius: 80px;
        min-width: 22px;
        border: 1px solid colors.$secondary-color;
    }

    .home-button-label {
        font-size: 14px;
        margin-right: 6px;
    }
}