/* 
 ********** Bar Styles
*/
.sound-and-brightness-box {
    border-radius: 80px;
    border: 1px solid;
    min-height: 30px;
    min-width: 36px;
    border-color: @primary-color;
    background: @bg-color; 
}
.sound-and-brightness-icon {
    font-size: 18px;
    color: @primary-color;
}
.sound-icon {
    font-size: 22px;
}




/* 
 ********** Popup Styles Sound Popup
*/

.sound-popover,
.sound-popover contents,
.sound-popover arrow {
    all: unset;
    background: transparent;
}
.sound-popover-container {
    padding: 12px 10px 12px 10px;
    border-radius: 10px;
    min-width: 280px;
    /* min-height: 42px; */
    background-color: @primary-color;
}

.icon-scale-box {
}
.sound-popover-sound-scale {
    /* background-color: blue; */
}
.sound-popover-sound-scale highlight {
    background-color: @bg-color-no-transparent;
}
.sound-popover-sound-scale-boosed highlight {
    background-color: red;
}

.sound-popover-sound-scale slider {
    background-image: none;
    background-color: @primary-color;
    border: 2px solid;
    border-color: @bg-color-no-transparent;
    border-radius: 100%;
}
.sound-popover-sound-icon {
    font-size: 24px;
    min-width: 44px;
    color: @bg-color-no-transparent;
}

/* 
 ********** Popup Styles Brightness Popup
*/

.brightness-popover,
.brightness-popover contents,
.brightness-popover arrow {
    all: unset;
    background: transparent;
}
.brightness-popover-container {
    padding: 12px 10px 12px 10px;
    border-radius: 10px;
    min-width: 280px;
    /* min-height: 42px; */
    background-color: @primary-color;
}

.icon-scale-box {
}
.brightness-popover-brightness-scale {
    /* background-color: blue; */
}
.brightness-popover-brightness-scale highlight {
    background-color: @bg-color-no-transparent;
}
.brightness-popover-brightness-scale-boosed highlight {
    background-color: red;
}

.brightness-popover-brightness-scale slider {
    background-image: none;
    background-color: @primary-color;
    border: 2px solid;
    border-color: @bg-color-no-transparent;
    border-radius: 100%;
}
.brightness-popover-brightness-icon {
    font-size: 24px;
    min-width: 44px;
    color: @bg-color-no-transparent;
}