@use '../../colors.scss';
.memory-box {
    background: colors.$primary-color;
    color: colors.$secondary-color;
    border-radius: 80px;
    min-height: 30px;
    min-width: 24px;
    border: 1px solid colors.$secondary-color;
}

.memory-icon {
    margin-left: 8px;
    margin-right: 12px;
    font-size: 15px;
    color: colors.$secondary-color;
}

.memory-label {
    margin-right: 8px;
    font-size: 12px;
    font-weight: bold;
    color: colors.$secondary-color;
}
